<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Bookmark</h1>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Explore</a>
                <a href="#">News</a>
                <a href="#">Log In</a>
                <a href="#">Sign Up</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
        {% include 'bookmark/_includes.html' %}
    </body>
</html>